<%- include ("../../partials/header") %>
  <%- include ("../../partials/navbar") %>
    <div class="container">
      <h2>Categorias</h2>
      <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category=> { %>
            <tr>
              <th>
                <%= category.id %>
              </th>
              <th>
                <%= category.title %>
              </th>
              <th>
                <%= category.slug %>
              </th>
              <th>
                <button class="btn btn-warning">Editar</button>
                <form action="/categories/delete" method="POST" style="display: inline;">
                  <input type="hidden" name="id" value="<%= category.id%>">
                  <button class="btn btn-danger">Excluir</button>
                </form>
              </th>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
    <%- include ("../../partials/footer") %>